doctype html
html
  head
    title Crear Estacion
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="../js/semantic.min.js")
    link(rel='stylesheet' type='text/css' href='../css/semantic.min.css')
    style.
      html,body{
        height : 100%;
        margin : 0 ;
      }
      #map{
        height : 50%;
        border : 1px solid green;
        z-index : 1;
      }
  body
    .ui.large.top.menu
      .ui.container
        a.item(href="/estaciones") Estaciones
        a.item Productos
      .rigth.menu
        .item
          .ui.icon.input
            input(type='text' placeholder='search...')
            i.search.icon
        .item
          a.ui.black.button(href="/logout") Log Out

    //Formulario

    .ui.container
      
      //.ui.form
      if message != undefined
        p #{message}
      form.ui.form(action='/crearEstacion' method='post')

        .field
          .fields
            .six.wide.field
              input(type='hidden' name='userId' value=userId)


        .field
          label Nombre
          .fields
            .six.wide.field
              input(type='text' name='nombre' placeholder='Nombre')
        
        

        .field
          label Latitud
          .fields
            .six.wide.field
              input#input_latitud(type='text' name='latitud' placeholder='Latitud' readonly)

        .field
          label Longitud
          .fields
            .six.wide.field
              input#input_longitud(type='text' name='longitud' placeholder='Longitud' readonly)

        .ui.container#message
          if message != undefined
            p #{message}
        a.ui.black.button(href="/estaciones") Cancelar
        input.ui.black.button(type='submit' value='Crear')

  script.
    $(".form")
      .form({
        inline:true,
        on:'blur',
        fields:{
          nombre:{
            identifier:'nombre',
            rules:[{
              type:'empty',
              prompt:'Ingrese un nombre'
            }]
          },
          latitud:{
            identifier:'latitud',
            rules:[{
              type:'number',
              prompt:'Ingrese una latitud valida (-90.000000 a +90.000000) (ejemplo: -55.254769 )'
            }]
          },
          longitud:{
            identifier:'longitud',
            rules:[{
              type:'number',
              prompt:'Ingrese una longitud valida (-180.000000 a +180.000000)(ejemplo: -168.554178 )'
            }]
          }
        }
      });
  #map
  script.
    var mapGoogle = document.getElementById('map');
    var centro = {
      lat : -12.046775,
      lng : -77.042820
    };
    var map;
    function initMap(){
      map = new google.maps.Map(mapGoogle,{
      center: centro,
      zoom: 12,
      mapTypeControl : false,
        streetViewControl : false,
        zoomControlOptions : {
          position : google.maps.ControlPosition.RIGHT_TOP
        }
      });
      map.addListener('click', function(event){
        var Latitud = event.latLng.lat();
        var Longitud = event.latLng.lng();
        console.log(Latitud+"  "+Longitud);
        $("#input_latitud").attr("value",Latitud);
        $("#input_longitud").attr("value",Longitud);
        var myLatLng = {lat: Latitud, lng: Longitud};
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
        map.setCenter({lat: Latitud, lng: Longitud});
        
        
      })
      
      
    }
    
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCAX91_ercE3wCCrvRdXlvIeEYxTPg897I&signed_in=true&libraries=places&callback=initMap')
  
  
  
//    a(href='/producto') Productos
//    a(href='/categoria') Categorias
//    if message != undefined
//      p #{message}
//    br
//    form(action='/producto' method='post')
//      label Nombre: 
//      input(type='text' name='nombre')
//      br
//      label Categoria:
//      - console.log( "->", objResult )
//      select(name='categoriaId')
//        each categoria in objResult_categoria
//          option(value=categoria.id) #{categoria.nombre}
//      br
//      label Precio: 
//      input(type='text' name='precio')
//      br
//      label Cantidad: 
//      input(type='text' name='cantidad')
//      br
//      label Descripcion: 
//      textarea(name='descripcion' rows='10' cols='30')
//      br
//      input(type='submit' value='Crear')
//    a.btn-cancelar(href='/producto')
//      button.btn-cancelar(type='button') Cancelar
