doctype html
html
  head
    title Editar Estacion
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="../js/semantic.min.js")
    link(rel='stylesheet' type='text/css' href='../css/semantic.min.css')
    style.
      html,body{
        height : 100%;
        margin : 0 ;
      }
      #map{
        height : 50%;
        border : 1px solid green;
        z-index : 1;
      }
  body
    .ui.large.top.menu
      .ui.container
        a.item(href="/estaciones") Estaciones
        a.item Productos
      .rigth.menu
        .item
          .ui.icon.input
            input(type='text' placeholder='search...')
            i.search.icon
        .item
          a.ui.black.button(href="/logout") Log Out

    //Formulario

    .ui.container
      
      //.ui.form
      if message != undefined
        p #{message}
      form.ui.form#form_editar(action='/editarEstacion/confirm' method='post')

        .field
          .fields
            .six.wide.field
              input(type='hidden' name='userId' value=userId)


        .field
          label Nombre
          .fields
            .six.wide.field
              input#input_nombre(type='text' name='nombre' placeholder='Nombre' value = "#{messageNombre}")
        
        


              input#input_latitud(type='hidden' name='latitud' placeholder='Latitud' value = "#{messageLat}")
              input#input_longitud(type='hidden' name='longitud' placeholder='Longitud' value = "#{messageLng}")

        .ui.container#message
          if message != undefined
            p #{message}
        
        a.ui.black.button(href="/estaciones") Cancelar
        a#input_submit.ui.black.button Editar
        label#label_mapa Seleccione la ubicacion de la estacion

      .ui.small.modal
        .header Editar Estacion
        .content ¿Esta seguro de editar esta estacion?
        .actions
          .ui.negative.button No
          .ui.positive.right.labeled.icon.button Yes
            i.checkmark.icon
  
  script.
    $(".form")
      .form({
        inline:true,
        on:'blur',
        fields:{
          nombre:{
            identifier:'nombre',
            rules:[{
              type:'empty',
              prompt:'Ingrese un nombre'
            }]
          },
          latitud:{
            identifier:'latitud',
            rules:[{
              type:'number',
              prompt:'Ingrese una latitud valida (-90.000000 a +90.000000) (ejemplo: -55.254769 )'
            }]
          },
          longitud:{
            identifier:'longitud',
            rules:[{
              type:'number',
              prompt:'Ingrese una longitud valida (-180.000000 a +180.000000)(ejemplo: -168.554178 )'
            }]
          }
        }
      });
  
  script.
    $("#input_submit").on('click',function(){
      $('.ui.small.modal')
      .modal({
        closable : false,
        onApprove : function(){
          $("#form_editar").submit();
        }
      })
      .modal('show');
    });
  #map
  script.
    
    var mapGoogle = document.getElementById('map');
    var centro = {
      lat : -12.046775,
      lng : -77.042820
    };
    var map;
    var markers = [];
    var latitud;
    var longitud;
    function initMap(){
      map = new google.maps.Map(mapGoogle,{
      center: centro,
      zoom: 12,
      mapTypeControl : false,
        streetViewControl : false,
        zoomControlOptions : {
          position : google.maps.ControlPosition.RIGHT_TOP
        }
      });
      
      var marcadorInicial = new google.maps.Marker({
        position: {
          lat : #{messageLat},
          lng : #{messageLng}
        },
        map : map,
        title : 'Posicion Actual',
        icon : 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
      });

      map.addListener('click', function(event) {
        $("#label_mapa").text("");
        
        latitud = event.latLng.lat();
        longitud = event.latLng.lng();
        $("#input_latitud").attr("value",latitud);
        $("#input_longitud").attr("value",longitud);
        deleteMarkers();
        addMarker(event.latLng);
      });
      
    }
    function addMarker(location) {
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
      markers.push(marker);
    }
    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }
    function clearMarkers() {
      setMapOnAll(null);
    }
    function deleteMarkers() {
      clearMarkers();
      markers = [];
    }
    
    
    
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCAX91_ercE3wCCrvRdXlvIeEYxTPg897I&signed_in=true&libraries=places&callback=initMap')
  
  
  
//    a(href='/producto') Productos
//    a(href='/categoria') Categorias
//    if message != undefined
//      p #{message}
//    br
//    form(action='/producto' method='post')
//      label Nombre: 
//      input(type='text' name='nombre')
//      br
//      label Categoria:
//      - console.log( "->", objResult )
//      select(name='categoriaId')
//        each categoria in objResult_categoria
//          option(value=categoria.id) #{categoria.nombre}
//      br
//      label Precio: 
//      input(type='text' name='precio')
//      br
//      label Cantidad: 
//      input(type='text' name='cantidad')
//      br
//      label Descripcion: 
//      textarea(name='descripcion' rows='10' cols='30')
//      br
//      input(type='submit' value='Crear')
//    a.btn-cancelar(href='/producto')
//      button.btn-cancelar(type='button') Cancelar
